.App {
  text-align: center;
}

.App svg {
  fill: red;
}

.App .internal {
  color: blue;
  font-size: 20px;
  fill: blue; /* My first try to solve with no effect */
}

/* Uncommenting this we solve the bug, but it is not a trivial solution
* once that needs knowledge about the react-icons implementation:
    .App .internal svg {
      fill: blue;
    }
 */